.cache/
.11111.swp
.bash_history
.bash_logout
.bashrc
.config/
.dotnet/
.local/
.profile
.rpmdb/
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-remote-containers/
.vscode-server/
.vscode/
.wget-hsts
11111
dedup_info.log
git/
origins/
input
input2
input4
kaobei/
log/
mod/
output4
p1
replay_trace
replay_trace.log
result_IOPS.log
run_replaytrace.log
share/
traces/
vdbench/